.container {
  width: 80%;
  margin: 5% auto;
  flex-direction: column;
  align-items: center;
}
.form,
.container,
.movieList,
.wrpr {
  display: flex;
  gap: 16px;
}
.form input,
.wrpr p {
  height: 30px;
  border: 1px solid #eee;
}
.form button {
  color: white;
  background-color: green;
  border: none;
  padding: 10px 20px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
.wrpr {
  width: 80%;
}
.movieList button,
.form button {
    border-radius: 2px;
    width: 100px !important;
}
.movieList button {
  height: fit-content;
  color: white;
  background-color: red;
  border: none;
  padding: 10px 20px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}
.wrpr p,
.form input {
  margin: 0;
  width: 50%;
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
}
.form input{
    background-color: #eee;
}
.fullWidth,
.movieList {
  width: 100%;
}
.wrpr p {
  border-color: black !important;
  display: flex;
  font-weight: 700;
  align-items: center;
}
